/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.timer {
  display: flex;
  gap: 20px;
  font-size: 48px;
  max-width: 400px;
  font-family: 'Monsterat', sans-serif;
  align-items: center;
  margin-top: 32px;
}
.input {
  margin-right: 8px;
  width: 272px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;

  padding: 8px 16px;
}

.input:hover {
  border: 1px solid #000;
}

.input:focus {
  border: 1px solid #4e75ff;
}

.input:disabled {
  border: 1px solid #808080;
}

.timer-button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4e75ff;
  border: none;
}

.timer-button:disabled {
  background: #cfcfcf;
  color: #989898;
  border: none;
}

.timer-button:hover:not(:disabled) {
  background: #6c8cff;
}
.label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;
  color: #333333;
}

.text {
  font-size: 14px;
  color: #555555;
  margin-bottom: 8px;
  font-family: 'Monsterat', sans-serif;
}

.delay-lable {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.delay-input {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;

  border-radius: 4px;
  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;

  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
}

.delay-input:hover {
  border: 1px solid #000;
}

.delay-input:focus {
  outline: none;
  border-color: #4e75ff;
}

.state-fieldset {
  box-sizing: border-box;
  display: flex;
  gap: 48px;
  width: 360px;
  align-items: center;
  justify-content: center;

  padding-top: 24px;
  padding-bottom: 8px;
  padding-left: 48px;
  padding-right: 48px;
  margin-bottom: 24px;
  margin-top: 16px;
  border-radius: 4px;
  height: 78px;
}

.state-legend {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  width: 45px;
  /* line-hewight: 24px; */
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-left: -30px;
}

.radio-input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  /* line-height: 24px; */
  line-height: 150%;
  color: #2e2f42;
}
.radio-input {
  width: 20px;
  height: 20px;
  accent-color: #4e75ff;
}

.radio-label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}

.submit-button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background: #4e75ff;
  border: none;
}

.submit-button:hover {
  background: #6c8cff;
}
